<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quasi modi odit odio doloremque dolorum distinctio optio sed, dolores quos quaerat inventore iure deleniti facere. Minus, fugiat eum. Praesentium tempora quae quisquam debitis voluptatum nulla modi cum doloremque, libero necessitatibus? Aut voluptas eveniet earum deleniti doloribus a sequi minima, voluptatibus quaerat tenetur expedita vitae ducimus! A culpa commodi doloremque optio fuga vitae alias, eveniet est minus dolores odio amet esse, delectus officia quia voluptas deleniti expedita ratione sapiente eaque. Perferendis.
    <form action="/games/tic-tac-toe" method="get"><button>Click</button></form> 
</body>
</html>