<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludo</title>
    <link rel="stylesheet" href="../public/Ludo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body style="background-color: burlywood;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid offset-md-4">
            <a class="navbar-brand text-warning" href="#">Board Nights</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            LeaderBoards
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Tic-Tac-Toe</a></li>
                            <li><a class="dropdown-item" href="#">Snake and Ladder</a></li>
                            <li><a class="dropdown-item" href="#">Ludo</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Overall</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Statistics
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Tic-Tac-Toe</a></li>
                            <li><a class="dropdown-item" href="#">Snake and Ladder</a></li>
                            <li><a class="dropdown-item" href="#">Ludo</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Overall</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Sign-Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-container container-fluid py-4">
        <div class="row">
            <div class="board-container col-6">
                <div class="board">
                    <div class="corner-block board-block" id="top-left"></div>
                    <div class="movement-block movement-block-ver board-block" id="top-middle"></div>
                    <div class="corner-block board-block" id="top-right"></div>
                    <div class="movement-block movement-block-hor board-block" id="center-left"></div>
                    <div class="center-block board-block" id="center-middle"></div>
                    <div class="movement-block movement-block-hor board-block" id="center-right"></div>
                    <div class="corner-block board-block" id="bottom-left"></div>
                    <div class="movement-block movement-block-ver board-block" id="bottom-middle"></div>
                    <div class="corner-block board-block" id="bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="dice-container col-6">

        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../public/Ludo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>
