<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake and Ladder</title>
    <link rel="stylesheet" href="/Snake-Ladder.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body style="background-color: burlywood;">


    <div class="overlay" onclick="off()">
        <div class="display-winner"><span class="winner-text"></span></div>
        <div class="restart-message"><span class="restart-text">Click anywhere on the screen to play again</span>
        </div>
    </div>
    <div class="modal" id="choose-colors" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto">Choose your Colors</h5>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-danger circular-button">RED</button>
                    <button type="button" class="btn btn-primary circular-button">BLUE</button>
                    <button type="button" class="btn btn-warning circular-button">YELLOW</button>
                    <button type="button" class="btn btn-success circular-button">GREEN</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">OK</button>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid offset-md-4">
            <a class="navbar-brand text-warning" href="/">Board Nights</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            LeaderBoards
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Tic-Tac-Toe</a></li>
                            <li><a class="dropdown-item" href="#">Snake and Ladder</a></li>
                            <li><a class="dropdown-item" href="#">Ludo</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Overall</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Statistics
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Tic-Tac-Toe</a></li>
                            <li><a class="dropdown-item" href="#">Snake and Ladder</a></li>
                            <li><a class="dropdown-item" href="#">Ludo</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Overall</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Sign-Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-container container-fluid py-4">
        <div class="row">
            <div class="board-container col-6">
                <div class="board relative-container">
                    <img src="/images/snake.png" class="snakePic" id="snake1">
                    <img src="/images/snake.png" class="snakePic" id="snake2">
                    <img src="/images/snake.png" class="snakePic" id="snake3">
                    <img src="/images/snake.png" class="snakePic" id="snake4">
                    <img src="/images/snake.png" class="snakePic" id="snake5">
                    <img src="/images/snake.png" class="snakePic" id="snake6">
                    <img src="/images/snake.png" class="snakePic" id="snake7">
                    <img src="/images/snake.png" class="snakePic" id="snake8">
                    <img src="/images/ladder.png" class="ladderPic" id="ladder1">
                    <img src="/images/ladder.png" class="ladderPic" id="ladder2">
                    <img src="/images/ladder.png" class="ladderPic" id="ladder3">
                    <img src="/images/ladder.png" class="ladderPic" id="ladder4">
                    <img src="/images/ladder.png" class="ladderPic" id="ladder5">
                    <img src="/images/ladder.png" class="ladderPic" id="ladder6">
                </div>
            </div>
            <div class="dice-container col-6">
                <div class="container">
                    <div class="row">
                        <div class="dice mx-auto" id="dice1" style="width: 100px;height: 100px;">
                            <div id="dice-one-side-one" class='side one'>
                                <div class="dot one-1"></div>
                            </div>
                            <div id="dice-one-side-two" class='side two'>
                                <div class="dot two-1"></div>
                                <div class="dot two-2"></div>
                            </div>
                            <div id="dice-one-side-three" class='side three'>
                                <div class="dot three-1"></div>
                                <div class="dot three-2"></div>
                                <div class="dot three-3"></div>
                            </div>
                            <div id="dice-one-side-four" class='side four'>
                                <div class="dot four-1"></div>
                                <div class="dot four-2"></div>
                                <div class="dot four-3"></div>
                                <div class="dot four-4"></div>
                            </div>
                            <div id="dice-one-side-five" class='side five'>
                                <div class="dot five-1"></div>
                                <div class="dot five-2"></div>
                                <div class="dot five-3"></div>
                                <div class="dot five-4"></div>
                                <div class="dot five-5"></div>
                            </div>
                            <div id="dice-one-side-six" class='side six'>
                                <div class="dot six-1"></div>
                                <div class="dot six-2"></div>
                                <div class="dot six-3"></div>
                                <div class="dot six-4"></div>
                                <div class="dot six-5"></div>
                                <div class="dot six-6"></div>
                            </div>
                        </div>

                        <!-- <div class="dice" id="dice2" style="width: 100px;height: 100px">
                            <div id="dice-two-side-one" class='side one'>
                                <div class="dot one-1"></div>
                            </div>
                            <div id="dice-two-side-two" class='side two'>
                                <div class="dot two-1"></div>
                                <div class="dot two-2"></div>
                            </div>
                            <div id="dice-two-side-three" class='side three'>
                                <div class="dot three-1"></div>
                                <div class="dot three-2"></div>
                                <div class="dot three-3"></div>
                            </div>
                            <div id="dice-two-side-four" class='side four'>
                                <div class="dot four-1"></div>
                                <div class="dot four-2"></div>
                                <div class="dot four-3"></div>
                                <div class="dot four-4"></div>
                            </div>
                            <div id="dice-two-side-five" class='side five'>
                                <div class="dot five-1"></div>
                                <div class="dot five-2"></div>
                                <div class="dot five-3"></div>
                                <div class="dot five-4"></div>
                                <div class="dot five-5"></div>
                            </div>
                            <div id="dice-two-side-six" class='side six'>
                                <div class="dot six-1"></div>
                                <div class="dot six-2"></div>
                                <div class="dot six-3"></div>
                                <div class="dot six-4"></div>
                                <div class="dot six-5"></div>
                                <div class="dot six-6"></div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div id='roll' class="roll-button"><button class="d-block mx-auto">Roll dice!</button></div>
                    </div>
                    <div class="row my-4">
                        <div class="col-4 my-auto">
                            <p id="turn-indicator" class="text-center red-piece-color">Red Player's Turn</p>
                        </div>
                        <div class="card col-8 mx-auto" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Players:</h5>
                                <p class="card-text">Red:</p>
                                <p class="card-text">Blue:</p>
                                <p class="card-text">Yellow:</p>
                                <p class="card-text">Green:</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/Snake-Ladder.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>