<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="stats.css">
    <title>Statistics</title>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid offset-md-4">
            <a class="navbar-brand text-warning" href="#">Board Nights</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            LeaderBoards
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Tic-Tac-Toe</a></li>
                            <li><a class="dropdown-item" href="#">Snake and Ladder</a></li>
                            <li><a class="dropdown-item" href="#">Ludo</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Overall</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Statistics
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Tic-Tac-Toe</a></li>
                            <li><a class="dropdown-item" href="#">Snake and Ladder</a></li>
                            <li><a class="dropdown-item" href="#">Ludo</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Overall</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Sign-Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="cont">
    <div class="main">
        
        <div class="one">

            <span><button class="ttt">tictactoe</button></span> <span> <button class="sl"> Snake and
                    Ladder</button></span> <span> <button class="ld"> Ludo </button></span>
            <br> <br><br>

        </div>
        <div class="board">
            <table>
                <tr>
                    <th>NAME</th>
                    <th>SCORE</th>
                    <th>HIGH SCORE</th>
                </tr>
                <tr>
                    <td>VENU</td>
                    <td>78</td>
                    <td>98</td>
                </tr>
                <tr>
                    <td>JAYANTH</td>
                    <td>78</td>
                    <td>98</td>
                </tr>
                <tr>
                    <td>NEHITH</td>
                    <td>78</td>
                    <td>98</td>
                </tr>
                <tr>
                    <td>TALWAR</td>
                    <td>78</td>
                    <td>98</td>
                </tr>
                <!-- <tr>
                  <td>Laughing Bacchus Winecellars</td>
                  <td>Yoshi Tannamuri</td>
                  <td>Canada</td>
                </tr>
                <tr>
                  <td>Magazzini Alimentari Riuniti</td>
                  <td>Giovanni Rovelli</td>
                  <td>Italy</td> -->
                </tr>
            </table>

        </div>
    </div>
</div>
</body>

</html>