<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Statistics.css">
    
</head>

<body>

    <div class="accordion-body">
        <div class="accordion">
            <h1>Statistics</h1>
            <hr>
            <div class="container">
                <div class="label">Tic Tac Toe</div>
                <div class="content">

                    <div class="card ">
                        <ul class="list-group">
                            <li class="list-group-item">Number of game played: <span class="tic"
                                    id="tic-played">45</span></li>
                            <li class="list-group-item">Number of wins: <span class="tic" id="tic-win">20</span> </li>
                            <li class="list-group-item">Number of losses: <span class="tic" id="tic-loss">25</span>
                            </li>
                            <li class="list-group-item">Wins Percentages: <span class="tic"
                                    id="tic-Percentages">44.4%</span></li>
                        </ul>
                    </div>

                </div>
            </div>
            <hr>
            <div class="container">
                <div class="label">Ludo</div>
                <div class="content">

                    <div class="card">
                        <ul class="list-group">
                            <li class="list-group-item">Number of game played: <span class="ludo" id="ludo-played">45</span></li>
                            <li class="list-group-item">Number of wins: <span class="ludo" id="ludo-win">20</span> </li>
                            <li class="list-group-item">Number of losses: <span class="ludo" id="ludo-loss">25</span> </li>
                            <li class="list-group-item">Wins Percentages: <span class="ludo" id="ludo-percentages">44.4%</span></li>
                        </ul>
                    </div>

                </div>
            </div>
            <hr>
            <div class="container">
                <div class="label">Snakes and Ladders</div>
                <div class="content">

                    <div class="card">
                        <ul class="list-group">
                            <li class="list-group-item">Number of game played: <span class="snakes" id="snake-played">45</span></li>
                            <li class="list-group-item">Number of wins: <span class="snakes" id="snake-win">20</span> </li>
                            <li class="list-group-item">Number of losses: <span class="snakes" id="snake-loss">25</span> </li>
                            <li class="list-group-item">Wins Percentages: <span class="snakes" id="snake-percentages">44.4%</span></li>
                        </ul>
                    </div>

                </div>
            </div>
            <hr>
        </div>
    </div>

</body>
<script src="/Statistics.js"></script>

</html>