<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="../public/styles.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="overlay" onclick="off()">
        <div class="display-winner"><span class="winner-text"></span></div>
        <div class="restart-message"><span class="restart-text">Click anywhere on the screen to play again</span></div>
    </div>

    <div class="container">
        <h1 class="heading">Tic-Tac-Toe</h1>
        <div class="board">
            <div id="block-top-left" class="block top-row left-column"></div>
            <div id="block-top-middle" class="block top-row"></div>
            <div id="block-top-right" class="block top-row right-column"></div>
            <div id="block-centre-left" class="block left-column"></div>
            <div id="block-centre-middle" class="block"></div>
            <div id="block-centre-right" class="block right-column"></div>
            <div id="block-bottom-left" class="block bottom-row left-column"></div>
            <div id="block-bottom-middle" class="block bottom-row"></div>
            <div id="block-bottom-right" class="block bottom-row right-column"></div>
        </div>
        <h2 class="winner"></h2>
        <button class="btn" onclick="resetBoard()">Reset Board</button>
    </div>

    <script src="../public/script.js" charset="utf-8"></script>
</body>
</html>