@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
  background-image: url(black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lobster', cursive;
}

h1 {
  text-align: center;
  font-family: 'Dela Gothic One', cursive;
}

.accordion {
  width: 800px;
  margin: 90px auto;
  color: rgb(206, 238, 238);
  background-image: url(bg.webp);
  padding: 45px 45px;
}

.accordion .container {
    position: relative;
    margin: 10px 10px;
  }
    
.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: rgb(228, 88, 88);
    cursor: pointer;
  }

.accordion .label::before {
    content: '+';
    color: rgb(228, 88, 88);
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
.accordion .content {
    position: relative;
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
  }
  
.accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid rgb(32, 219, 104);
  }

.accordion .container.active .content {
    height: 150px;
  }
  
.accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
  }

.list-group-item{
      color: rgb(205, 214, 69);
  }