/* 
Make page responsive 
Please Check If its responsive 
CHANGED TO REM SINCE (READ REM IS REPONSIVE) and CALCULATION IS NOTED
PX->> REM CALCULATION: 1 REM=16 PX 
PERCENTAGE TO REM: 1%=0.01REM 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

.overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display-winner{
    display: flex;
    align-items: flex-end;
    font-size: 3.125rem;
    font-weight: bold;
    color: white;
    flex: 1.15;
}

.restart-message{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    flex: 1; 
}

.heading{
    margin-bottom: 1rem;
    text-decoration: underline;
    text-decoration-style: dotted;
    background-color: aliceblue;
    padding: 0.625rem;
    border-radius: 0.2rem;
    color: rgb(37, 94, 102);
}

.container-tic {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: powderblue;
}

.board {
    display: grid;
    width: 18.75rem;
    height: 18.75rem;
    grid-template-columns: auto auto auto;
}

.block {
    display: flex;
    width: 6.25rem;
    height: 6.25rem;
    font-size: 3.125rem;
    color: rgb(129, 98, 98);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: 0.188rem solid black;
}

.top-row {
    border-top: none;
}

.left-column {
    border-left: none;
}

.bottom-row {
    border-bottom: none;
}

.right-column {
    border-right: none;
}

.block:hover {
    cursor: pointer;
    background-color: rgb(138, 245, 156);
}

.occupied:hover {
    background-color: rgb(252, 182, 182);
}

.btn1 {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 1.75rem;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    text-decoration: none;
    margin-top: 3.125rem;
  }
  
  .btn1:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .freezeScreen {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}