       body{
        font-family: 'Arbutus';
            background-image: url(bbb.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }

        h1{
           display: inline-block;
           color: pink;
        }

        h2{
          color: red;
        }

        h3{
            display: inline;
            background-color: rgb(250, 236, 217);
        }
        .vid {
            display: inline;
            float: right;
        }

        .col {

            flex: auto;
            text-align: center;
        }

        .para {
            display: inline;
            color: pink;
        }

        button{
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            float:right;
        }