<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid offset-md-4">
        <a class="navbar-brand text-warning" href="/">Board Nights</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <% if(active=='Home'){ %>active<%}%>" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle <% if(active=='Leaderboards'){ %>active<%}%>" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        LeaderBoards
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/leaderboard/tic-tac-toe">Tic-Tac-Toe</a></li>
                        <li><a class="dropdown-item" href="/leaderboard/snake-ladder">Snake and Ladder</a></li>
                        <li><a class="dropdown-item" href="/leaderboard/ludo">Ludo</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(active=='Statistics'){ %>active<%}%>" aria-current="page" href="/statistics">Statistics</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <% if(active=='Signup'){ %>active<%}%>" aria-current="page" href="/join-us/signup">Sign-Up</a>
                </li>
                <li class="nav-item">
                    <% if(loggedUser == undefined){ %>
                        <a class="nav-link <% if(active=='Login'){ %>active<%}%>" aria-current="page" href="/join-us/login">Login</a>
                    <% }else{ %>
                        <a class="nav-link" aria-current="page" href="/join-us/logout">Logout</a>
                    <% } %>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" id="loggedUser" aria-current="page">
                        <%= loggedUser %>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>